workflow/Job Hunter.json
{
  "name": "Job Hunter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        144
      ],
      "id": "24ce7f87-01c2-4745-8966-94b10c3c99a3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a job relevance scorer.\n\nCandidate Resume:\n\n{{ $('Resume Information').first().json.Resume }}\n\nBelow are jobs to evaluate:\n\n{{ JSON.stringify($json) }}\n\nFor each job, return:\n\n[\n{\n\"job_id\": \"\",\n\"title\": \"\",\n\"company\": \"\",\n\"location\": \"\",\n\"job_url\": \"\",\n\"score\": 0,\n\"reason\": \"\"\n}\n]\n\nScoring Criteria:\n\n* Role Match (30 points)\n* Skills Match (40 points)\n* Experience Match (15 points)\n* Location Match (10 points)\n* Bonus (5 points)\n\nScore Guidelines:\n\n* 90-100 = Exceptional fit\n* 80-89 = Strong fit\n* 70-79 = Possible fit\n* Below 70 = Not worth applying\n\nIMPORTANT RULES:\n\n1. You MUST return exactly one result for every input job.\n2. If 10 jobs are provided, return exactly 10 JSON objects.\n3. Do not skip any job even if relevance is low.\n4. Preserve the exact values of:\n\n   * job_id\n   * title\n   * company\n   * location\n   * job_url\n5. Do NOT modify, shorten, rewrite, or generate a new job_url.\n6. Copy the job_url exactly as it appears in the input.\n7. Return ONLY valid JSON.\n8. Do not include markdown, explanations, or code fences.\n\nReturn ONLY a JSON array.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        144
      ],
      "id": "5bcf5202-24b9-4773-aeb3-37b7be37f428",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        448
      ],
      "id": "1a58f2a2-d038-4125-bfb3-396e606cc6f9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k7BRzTuMPG6focjX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\n\n// Convert Gemini's string into actual JSON\nconst jobs = JSON.parse(raw);\n\n// Return one n8n item per job\nreturn jobs.map(job => ({\n  json: job\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        144
      ],
      "id": "81ee99bf-3fc9-47c9-b79a-2dbb32410b12",
      "name": "Parse Gemini output"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        128
      ],
      "id": "21f1abe7-c7aa-4961-80b9-41fdd6460164",
      "name": "Resume + filteredjobs"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        128
      ],
      "id": "134a4a4a-f663-4842-8fb2-b9ad0d282415",
      "name": "10 items per iteration"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -80,
        144
      ],
      "id": "cd9a219f-4e22-4890-a730-f82852dee39d",
      "name": "10 items in a single item"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        -224
      ],
      "id": "d1c9afdf-7dea-4474-bfaf-cc2c7fd4c18c",
      "name": "Aggregate filtered jobs"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $json.data || $json.items || [];\n\nlet html = `\n<h2>🚀 AI Curated Jobs for Deepanshu</h2>\n<hr>\n`;\n\nfor (const job of jobs) {\n  html += `\n  <h3>${job.title}</h3>\n\n  <b>Company:</b> ${job.company}<br>\n  <b>Location:</b> ${job.location}<br>\n  <b>Score:</b> ${job.score}/100<br><br>\n\n  <b>Why Match:</b><br>\n  ${job.reason}<br><br>\n\n  <a href=\"${job.job_url}\">\n    Apply on Naukri\n  </a>\n\n  <hr>\n  `;\n}\n\nreturn [{\n  json: {\n    html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -224
      ],
      "id": "e4e38dab-903d-41fb-817c-a13d4ec7491b",
      "name": "Build HTML Email"
    },
    {
      "parameters": {
        "sendTo": "amandeepverma1995@gmail.com",
        "subject": "AI Job Report - Top Matching Jobs",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        -224
      ],
      "id": "671e0bf0-4cc2-4720-aa89-a49f4267e609",
      "name": "Send a message",
      "webhookId": "814cf9bb-435f-4045-a758-976cf4bfab32",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ck0fPywBCSon5fZ8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM scored_jobs\nWHERE created_at = CURRENT_DATE\nAND score >= 80\nORDER BY score DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        -224
      ],
      "id": "be2cad1d-22a1-48dd-830a-4305d6231f78",
      "name": "Select today's job",
      "credentials": {
        "postgres": {
          "id": "xZnl5USLWLvcijqq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scored_jobs (job_id, title, company, location, job_url, score, reason)\nVALUES (\n  '{{ $json.job_id }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.company.replace(/'/g, \"''\") }}',\n  '{{ $json.location.replace(/'/g, \"''\") }}',\n  '{{ $json.job_url }}',\n  {{ $json.score }},\n  '{{ $json.reason.replace(/'/g, \"''\") }}'\n)\nON CONFLICT (job_id) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        144
      ],
      "id": "308a9794-18ac-4ed5-a821-89d8d44d19ff",
      "name": "Get Data in neon DB",
      "credentials": {
        "postgres": {
          "id": "xZnl5USLWLvcijqq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { trigger: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -224
      ],
      "id": "d12ab305-a6e2-4443-aad1-e393338c572b",
      "name": "to get item from \"Done\""
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4ad90b6-6166-40cd-a237-975eec36b0d3",
              "name": "Resume",
              "value": "Candidate Name: Deepanshu Verma\n\nExperience:\n5+ years total experience\n\nCurrent Role:\nAnalytics Consultant at Tiger Analytics\n\nPrevious Roles:\nData Analyst\nAeronautical Data Analyst\n\nEducation:\nMBA - IIM Bodh Gaya\n\nCore Skills:\nSQL\nPower BI\nTableau\nPython\nDatabricks\nExcel\nData Visualization\nBusiness Analytics\nData Governance\nData Quality\nData Modeling\nData Profiling\nGA4\n\nBusiness Skills:\nStakeholder Management\nAgile\nSprint Planning\nRequirements Gathering\nBusiness Analysis\nKPI Reporting\n\nPreferred Roles:\nAnalytics Consultant\nSenior Data Analyst\nData Analyst\nBusiness Analyst\nBI Analyst\nPower BI Developer\n\nPreferred Locations:\nBangalore\nRemote\nHyderabad\n\nMinimum Relevance Score:\n75",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -32
      ],
      "id": "b34632c1-78b9-4668-877b-47b21af1e56a",
      "name": "Resume Information"
    },
    {
      "parameters": {
        "url": "http://localhost:3456",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        304
      ],
      "id": "94efb673-71af-4ee0-b951-107fd9b8db28",
      "name": "To get data from server.js"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Resume Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "To get data from server.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse Gemini output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume + filteredjobs": {
      "main": [
        [
          {
            "node": "10 items per iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 items per iteration": {
      "main": [
        [
          {
            "node": "to get item from \"Done\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10 items in a single item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 items in a single item": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini output": {
      "main": [
        [
          {
            "node": "Get Data in neon DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate filtered jobs": {
      "main": [
        [
          {
            "node": "Build HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select today's job": {
      "main": [
        [
          {
            "node": "Aggregate filtered jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data in neon DB": {
      "main": [
        [
          {
            "node": "10 items per iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to get item from \"Done\"": {
      "main": [
        [
          {
            "node": "Select today's job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Information": {
      "main": [
        [
          {
            "node": "Resume + filteredjobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To get data from server.js": {
      "main": [
        [
          {
            "node": "Resume + filteredjobs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9ebe0d6f-c58e-41d0-9766-5c3104438aa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26f459bfd3b842cde9f18a3d8f715a5e9dfb8fee08a30a1153504496284f3466"
  },
  "nodeGroups": [],
  "id": "WSjHXbvSiQdzJgMY",
  "tags": []
}